.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# source
src/**
**/*.ts
**/*.map

# dev
.vscode/**
.eslint*
tsconfig*
vite.config*
README.md

# tests
test/**

# webview dev
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/public/**

# misc
.gitignore
pnpm-lock.yaml
